<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <STYLE>
        table{
            border-collapse:collapse;
            width:fit-content;
            }
            td{padding: auto;}
            img{
                width:615px;
                height:auto;
            border:2px;}
            TABLE{
                border-color: bisque;
                color:blue;
            }
    </STYLE>
</head>
<body>
    <table>
        <tr>
            <td><img src="https://thumbs.dreamstime.com/b/kids-celebrating-birthday-party-blowing-group-joyful-little-candles-cake-holidays-concept-48869522.jpg" alt="image 1"></td>
            <td><img src="https://i.ytimg.com/vi/tfF7JpN42cA/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AHUBoAC4AOKAgwIABABGH8gSigjMA8=&rs=AOn4CLBDwCVe2tnct-ulwItBCtj2K4gxjQ" alt="img 2"></td>
        </tr>
        <tr>
            <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Birthday_party.jpg/1280px-Birthday_party.jpg" alt="img 3"></td>
            <td><img src="https://thumbs.dreamstime.com/b/birthday-celebration-home-outdoor-caucasian-happy-cheerful-family-around-young-boy-teenager-his-years-old-night-195876060.jpg" alt="img 4"></td>
        </tr>
    </table>
</body>
</html>