<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PEEK A BOO</title>
        <link href="static/hbd.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="https://t3.ftcdn.net/jpg/12/23/40/64/360_F_1223406483_ATYiZZSca73wld5lXpQY5WHCvI4y1g0B.jpg" type="image/x-icon">
    </head>
    <body>
        <div class="bday">
            <main>
            <h1>HAPPY BIRTHDAY</h1>
            <hr>
            <button class="nav-button" onclick="location.href={{url_for('form')}}">Form</button>
            <a href="https://www.fnp.com/" class="nav-button">Shop</a>
            <button class="nav-button" onclick="location.href={{url_for('gallery')}}">Gallery</button>
            <hr>
            <h3style ="font-family: Georgia, 'Times New Roman', Times, serif;"><p style="color:rgb(9, 110, 110)">Wishing you a happy birthday and a wonderful year ahead. May this special day bring you moments of joy, quiet reflection, and a chance to celebrate all that you’ve accomplished so far. Here’s to new opportunities, continued growth, and meaningful experiences in the coming year. Hope you enjoy your day in whatever way feels right for you.</p></h3>
            <figure>
                <a target="_blank" href="https://www.youtube.com/watch?v=_z-1fTlSDF0"><img src="hbd.jpg" width="200" height="200" alt="qr code"></img> </a>
                <figurecaption><em>SCAN HERE</em> for a suprise </figurecaption>
            </figure>
            </main>
            
        </div>
    </body>
</html>